@media (max-width: 319px){
    .nav-logo{
        /* background-color: cornflowerblue; */
        padding: 5px 10px 5px 0px;
    }
    .nav-input-container{
        display: none;
    }
}
@media (max-width: 374px) and (min-width: 320px){
    .nav-logo{
        /* background-color: aqua; */
        padding: 5px 10px 5px 0px;
    }
    .nav-input-container{
        display: none;
    }
}
@media (max-width: 424px) and (min-width: 375px){
    .nav-logo{
        /* background-color: chartreuse; */
        padding: 5px 10px 5px 0px;
    }
    .nav-input-container{
        display: none;
    }
}
@media (max-width: 575px) and (min-width: 425px){
    .nav-logo{
        /* background-color: red; */
        padding: 5px 10px 5px 0px;
    }
    .nav-input-container{
        display: none;
    }
}
@media (max-width: 767px) and (min-width: 576px){
    .nav-logo{
        /* background-color: orange; */
    }
    .nav-input-container{
        display: none;
    } 
}
@media (max-width: 991px) and (min-width: 768px){
    .nav-logo{
        /* background-color: blue; */
    }
    .nav-input-container{
        display: none;
    } 
}
@media (max-width: 1199px) and (min-width: 992px){
    .nav-logo{
        /* background-color: green; */
    }
    .nav-items1-list{
        margin: 0px 5px;
    }
    .nav-items1-list-link{
        /* background-color: red; */
        /* padding: 5px 10px; */ padding: 5px 8px; font-size: 11px;
    }
}
@media (max-width: 1399px) and (min-width: 1200px){
    .nav-logo{
        /* background-color: rebeccapurple; */
    }
}
@media (min-width: 1400px){
    .nav-logo{
        /* background-color: gray; */
    }
}