# Frontend node_modules
online-shopping-1/node_modules/

# Backend node_modules
server/node_modules/

# frontend env file
online-shopping-1/.env

# Backend environment file
server/.env

# Logs
*.Logs

# OS files
.DS_Store
Thumbs.db
