.Signup-main{
    background-color: #111827;
}
.Signup-form-container{
    /* background-color: red;  */
    height: 100vh;
}
.Signup-form{
    /* background-color: skyblue; */
    padding: 20px 40px 20px 40px; border: 1px solid #ccc; border-radius: 5px;
    margin: 40px 0px; box-shadow: 0px 0px 10px 2px #5d616c;
}
.Signup-welcome-para1{
    font-size: 18px; font-weight: bold; 
}
.Signup-welcome-para2{
    font-size: 13px; font-weight: bold;
}
.Signup-heading-1{
    color: #fe912f; font-size: 25px;
}
.Signup-heading-2{
    color: #f31db2; font-size: 25px;
}
.Signup-input-fname, .Signup-input-lname,
.Signup-input-mobileNum, .Signup-input-email,
.Signup-input-password, .Signup-input-re-password,
.inputfield-otp{
    /* background-color: red; */
    width: 100%; padding: 5px 0px 5px 20px;  font-size: 12px;
    border: 1px solid #ccc; border-radius: 5px; outline: none;
}
.Signup-input-fname:focus, .Signup-input-lname:focus,
.Signup-input-mobileNum:focus, .Signup-input-email:focus,
.Signup-input-password:focus, .Signup-input-re-password:focus{
    background-color: #d9e0e7;
}
.Signup-input-fname:valid, .Signup-input-lname:valid,
.Signup-input-mobileNum:valid, .Signup-input-email:valid,
.Signup-input-password:valid, .Signup-input-re-password:valid{
    outline: 1px solid rgb(56, 243, 56);
}
/* .Signup-input-fname:invalid, .Signup-input-lname:invalid,
.Signup-input-mobileNum:invalid, .Signup-input-email:invalid,
.Signup-input-password:invalid, .Signup-input-re-password:invalid{
    outline: 1px solid red;
} */
.signup-verify-otp-btn{
    padding: 5px 20px; font-size: 12px; font-weight: bold;
    border: 1px solid #ccc; border-radius: 3px; background-color: #111827;
}
.signup-btn{
    padding: 5px 70px; font-size: 15px; font-weight: bold;
    border: 1px solid #ccc; border-radius: 3px;
    background-color: #111827;
}
.signup-btn:hover, .signup-verify-otp-btn:hover{
    background-color: #364659;
    border-top-color: #fe912f; border-bottom-color: #f31db2;
    border-left-color: #fe912f; border-right-color: #f31db2;
    transition: 0.3s ease;
}
.signup-haveAcc-para{
    font-size: 13px;
}
.signup-haveAcc-link{
    font-size: 12px; font-weight: bold;
}
/* signup accounts */
.signup-social-icons{
    font-size: 30px;
}
.signup-acc-para{
    font-size: 13px; font-weight: bold;
    border: 1px solid #ccc; border-radius: 3px; padding: 5px 20px;
}
.signup-acc-para:hover{
    background-color: #364659;
    border-top-color: #fe912f; border-bottom-color: #f31db2;
    border-left-color: #fe912f; border-right-color: #f31db2;
    transition: 0.3s ease;
}