@media (max-width: 374px) {
    .cart-details1{
        flex-wrap: wrap;
    }
    .cart-img{
        width: 90px; height: 90px;
    }
    .cart-name{
        width: 100%; font-size: 12px;
    }
    .cart-deliveryBy, .cart-original-price{
        font-size: 10px; font-weight: bold!important;
    }
    .cart-size, .cart-seller, .cart-coupon{
        font-size: 10px;
    }
    .cart-originalPrice{
        font-size: 11px; flex-wrap: wrap;
    }
    .cart-quantity-count{
        font-size: 9px; padding: 0px 10px;
    }
    .MinusCircle, .PlusCircle{
        font-size: 20px;
    }
    .btn-remove{
        font-size: 8px;
    }
    .safe-secure{
        font-size: 14px;
    }
}
@media (max-width: 374px) and (min-width: 320px){
    .cart-details1{
        flex-wrap: wrap;
    }
    .cart-img{
        width: 90px; height: 90px;
    }
    .cart-name{
        width: 100%; font-size: 12px;
    }
    .cart-deliveryBy, .cart-original-price{
        font-size: 10px; font-weight: bold!important;
    }
    .cart-size, .cart-seller, .cart-coupon{
        font-size: 10px;
    }
    .cart-originalPrice{
        font-size: 11px; flex-wrap: wrap;
    }
    .cart-quantity-count{
        font-size: 9px; padding: 0px 10px;
    }
    .MinusCircle, .PlusCircle{
        font-size: 20px;
    }
    .btn-remove{
        font-size: 8px;
    }
    .safe-secure{
        font-size: 14px;
    }
}
@media (max-width: 424px) and (min-width: 375px){
    .cart-details1{
        flex-wrap: wrap;
    }
    .cart-img{
        width: 70px; height: 70px;
    }
    .cart-name{
        width: 100%; font-size: 11px;
    }
    .cart-deliveryBy, .cart-original-price{
        font-size: 11px; font-weight: bold!important;
    }
    .cart-size, .cart-seller, .cart-coupon{
        font-size: 10px;
    }
    .cart-originalPrice{
        font-size: 11px; 
    }
    .cart-quantity-count{
        font-size: 12px; padding: 0px 10px;
    }
    .MinusCircle, .PlusCircle{
        font-size: 20px;
    }
    .btn-remove{
        font-size: 9px;
    }
    .safe-secure{
        font-size: 14px;
    }
}
@media (max-width: 575px) and (min-width: 425px){
    .cart-details1{
        flex-wrap: wrap;
    }
    .cart-img{
        width: 80px; height: 80px;
    }
    .cart-name{
        width: 100%; font-size: 13px;
    }
    .cart-deliveryBy, .cart-original-price{
        font-size: 12px; font-weight: bold!important;
    }
    .cart-size, .cart-seller, .cart-coupon{
        font-size: 12px;
    }
    .cart-originalPrice{
        font-size: 13px;
    }
    .btn-remove{
        font-size: 11px;
    }
    .safe-secure{
        font-size: 14px;
    }
}
@media (max-width: 767px) and (min-width: 576px){
    .cart-img{
        width: 100px; height: 100px;
    }
    .cart-name{
        width: 65%; font-size: 13px;
    }
    .cart-deliveryBy, .cart-original-price{
        font-size: 9px; font-weight: bold!important;
    }
    .cart-size, .cart-seller, .cart-coupon{
        font-size: 11px;
    }
    .cart-coupon{
        padding-top: 2px;
    }
    .cart-originalPrice{
        font-size: 13px;
    }
    
    .btn-remove{
        font-size: 10px;
    }
    .safe-secure{
        font-size: 14px;
    }
}
@media (max-width: 991px) and (min-width: 768px){
    .cart-name{
        width: 65%; font-size: 18px;
    }
    .cart-deliveryBy, .cart-original-price{
        font-size: 13px;
    }
    .cart-size, .cart-seller, .cart-coupon{
        font-size: 15px;
    }
    .safe-secure{
        font-size: 14px;
    }
}
@media (max-width: 1199px) and (min-width: 992px){
    .price-details-container{
        position: fixed;
        top: 133px!important;
    }
    .cart-name{
        width: 65%; font-size: 14px;
    }
    .cart-deliveryBy, .cart-original-price{
        font-size: 10px;
    }
    .cart-size, .cart-seller, .cart-coupon{
        font-size: 14px;
    }
    .btn-remove{
        font-size: 13px;
    }
    .safe-secure{
        font-size: 14px;
    }
}
@media (min-width: 1200px){
    .price-details-container{
        position: fixed;
        top: 133px!important;
    }
    .cart-name{
        width: 65%; font-size: 18px;
    }
    .cart-deliveryBy, .cart-original-price{
        font-size: 13px;
    }
    .safe-secure{
        font-size: 14px;
    }
}